#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.option-container {
  order: 1;
}
.audio-form-style {
  display: "flex";
  flex-direction: "column";
  gap: "1rem";
  padding: "1rem";
}
#mainContainer ::part(scroll) {
  margin-bottom: 20px;
}
.form-sub-container {
  margin-top: 10px;
  display: flex;
}
.form-label {
  width: 150px;
  text-align: start;
}
.input-text {
  width: 30%;
}
