#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.option-container {
  order: 1;
}
.audio-form-style {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#mainContainer ::part(scroll) {
  margin-bottom: 20px;
}
#mainContainer ::part(minimap) {
  margin-bottom: 10px;
}

.form-sub-container {
  margin-top: 10px;
  display: flex;
}
.form-label {
  width: 150px;
  text-align: start;
}
.input-text {
  width: 30%;
}
.trim-btn {
  background-color: blue;
  color: aliceblue;
  font-weight: 600;
  font-size: small;
  padding: 5px 8px;
  align-self: flex-start;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  ma
}

